@import "reset";

body{
  width:600px;
  margin:0 auto
}
.container{
  margin: 20px 0 0 0;
}
.text,.todo{
  width: 100%;
  height: 30px;
  font-size: 26px;
  line-height: 30px;
}

ul.todos-list{
  list-style-type: none;
  padding: 0;
}