@import "reset";

body{
  width:600px;
  margin:0 auto
}
.container{
  margin: 20px 0 0 0;
}
.main-input,.input,.todo{
  width: 100%;
  height: 30px;
  font-size: 26px;
  line-height: 30px;
}
.todo{
  margin: 10px 0;
  position: relative;

  &:hover{
    background-color: lightgray;
  }
}
.text{
  padding: 0 0 0 7px;
  width: 531px;
  display: inline-block;
  overflow: hidden;
}
.settings{
  position: absolute;
  top: 7px;
  right: 7px;
  width: 16px;
  height: 16px;
}

<<<<<<< HEAD
.pencil {
  margin-right: 32px;
  background: url('../img/pencil.png');
  .edit-state{
    margin-right: 0;
  }
=======
.cog{
  margin-right: 32px;
  background: url('../img/cog.png');
>>>>>>> 84e41a9b9446781e1ca3ecb6e9ff58f515882d33
}
.bin{
  background: url('../img/bin.png');
}
.checkmark{
  background: url('../img/checkmark.png');
}

.todos{
  list-style-type: none;
  padding: 0;
}

.hidden{
  display: none;
}